* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}



body {
     font-family: "Poppins", sans-serif;
     padding: 20px;
         background: #f5f5f5;
        }
        .container-compra {
            display: flex;
            gap: 30px;
            margin-top: 40px;
        }
        /* Área principal do produto */
        .produto-destaque {
            flex: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 600px; /* para o círculo ocupar toda a área */
        }
        .circulo {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            clip-path: circle(70% at center center);
            z-index: -1;
            background: #017143;
            transition: background 0.5s;
        }
        .produto-destaque img.produto {
            width: 300px;
            margin-top: 30px;
            z-index: 1;
        }
        .opcoes-produto {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            z-index: 2;
        }
        .opcoes-produto img {
            width: 80px;
            margin: 10px;
            cursor: pointer;
            transition: transform 0.3s;
        }
        .opcoes-produto img:hover {
            transform: scale(1.1);
        }
        .resumo {
            margin-top: 10px;
            background: transparent;
            padding: 0;
            border-radius: 0;
            text-align: center;
            width: 100%;
            color: white;
            font-weight: 600;
            font-size: 1.3rem;
            z-index: 2;
        }
        /* Formulário */
        .formulario {
            flex: 1;
            background: #ffffff;
            padding: 60px;
            border-radius: 30px;
        }
        form input,
        form select,
        form button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 15px;
        }
        button {
            background-color: #017143;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 40px;
        }
        button:hover {
            background-color: #025c36;
        }

        .texto-buck {
            color: #333;
            font-weight: 900;
            font-size: 70px;
                }
        .texto-starbuck {
            color: #017143;
            font-weight: 900;
            font-size: 70px;
        }
        .texto-star {
            color: #017143;
            font-weight: 900;
            font-size: 60px;
        }

.qr-pix {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.qr-pix img {
    background-color:#fff;; /* fundo branco pro QR */
    padding: 10px;
    border-radius: 40px;
}

.mensagem-oculta {
    display: none;
}

.texto-pix {
    color: #017143;
            font-weight: 800;
            font-size: 30px;
}

.topo {
    display: flex;
    align-items: center;       /* alinha na vertical */
    justify-content: space-between; /* logo à esquerda, imagem à direita */
    padding: 10px 20px;
}

.logo {
    height: 80px; /* ajuste conforme necessário */
}

.imagem-direita {
        position: absolute;
    left: 6;
    right:0;
    top: 0; /* pode ajustar conforme quiser */
    height: 300px; /* ajuste conforme necessário */
    cursor: pointer;
}
